@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

body {
    /*background-image: url("../image/淡橘橫幅.png");
    background-repeat: no-repeat;
    background-repeat-x: repeat;*/
    font-size: 16px;
    color: #000;
}

h1 {
    /*font-size: 40px;*/
    font-weight: 600;
    opacity: 1;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    opacity: 1;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    opacity: 1;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
}

.Title {
    font-size: 16px;
    opacity: 1;
}

.Subtitle {
    font-size: 14px;
    opacity: 0.87;
}

.Body {
    font-size: 16px;
    opacity: 0.6;
}

.Caption {
    font-size: 14px;
    opacity: 0.3;
}

.Small {
    font-size: 11px;
    opacity: 0.38;
}

.btn.Button-sm {
    font-size: 12px;
}

.btn.Button-md {
    font-size: 14px;
}

.btn.Button-lg {
    font-size: 18px;
}

div.nav-header {
    display: inline-block;
}

:disabled{
    color: #000;
    opacity: 0.3;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle {
    position: relative;
    padding: 9px 20px;
    padding-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}

/*.dropdown:hover > .dropdown-menu {
    display: block;
}*/

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button.navbar-toggle {
    display: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    transition: 0.2s ease-in;
    transform-origin: center;
}

.navbar-toggle .icon-bar:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 5px);
    scale: 1;
}
.navbar-toggle .icon-bar:nth-child(2) {
    display: none;
}
.navbar-toggle .icon-bar:nth-child(3) {
    transform: rotate(45deg) translate(0px, -2.5px);
    scale: 1;
}

.navbar-toggle.collapsed .icon-bar:nth-child(1) {
    transform: none;
    scale: 1;
}
.navbar-toggle.collapsed .icon-bar:nth-child(2) {
    display: block;
}
.navbar-toggle.collapsed .icon-bar:nth-child(3) {
    transform: none;
    scale: 1;
}
#navbarNav ul.navbar-nav li.nav-item a.nav-link {
    color: white;
}


ul.navbar-nav li.nav-item a.nav-link {
    color: black;
}

ul.navbar-nav li.nav-item:hover a.nav-link {
    color: #ff7b00;
}

ul.navbar-nav li.nav-item:hover svg path {
    fill: #ff7b00 !important;
    -webkit-transition: fill 0.15s ease-in-out;
    -moz-transition: fill 0.15s ease-in-out;
    -o-transition: fill 0.15s ease-in-out;
}

section {
    margin-bottom: 50px;
}

.btn {
    border-radius: 10px;
}

.btn-warning{
    color:white;
    font-weight:600;
}

.form-group{
    margin-bottom: 15px;
}

.card-box {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    height: 100%;
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #ff7b00;
}

#dv_basketball div {
    transform: scale(.8);
}

#dv_basketball .slick-center div {
    transform: scale(1);
    transition: transform .3s cubic-bezier(.4,0,.2,1);
}

#dv_basketball .slider__item  img {
    width: 100%;
    height: auto;
}

.place-tag {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 15px;
    background: white;
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
}

.restroom {
    transform: translateY(2px);
}

.restroom::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.11407 14.8811C2.11407 15.2625 2.35197 15.4997 2.7336 15.4997C3.11616 15.4997 3.35313 15.2625 3.35313 14.8811V9.15962H3.97267V14.8811C3.97267 15.2619 4.21026 15.4997 4.5922 15.4997C4.97414 15.4997 5.21173 15.2625 5.21173 14.8811V5.13908H5.5215V8.63818C5.5215 9.37889 6.45266 9.37889 6.4508 8.63818V4.8796C6.4508 4.06127 5.86038 3.59272 4.90197 3.59272H2.42383C1.55029 3.59272 0.875 3.96972 0.875 4.85671V8.85034C0.875 9.46889 1.8043 9.46889 1.8043 8.85034V5.13908H2.11407V14.8811Z" fill="black" fill-opacity="0.38" /> <path d="M3.62418 3.05149C4.32988 3.05149 4.90197 2.48032 4.90197 1.77575C4.90197 1.07117 4.32988 0.5 3.62418 0.5C2.91848 0.5 2.34639 1.07117 2.34639 1.77575C2.34639 2.48032 2.91848 3.05149 3.62418 3.05149Z" fill="black" fill-opacity="0.38" /> <path d="M11.3683 3.05149C12.074 3.05149 12.6461 2.48032 12.6461 1.77575C12.6461 1.07117 12.074 0.5 11.3683 0.5C10.6626 0.5 10.0906 1.07117 10.0906 1.77575C10.0906 2.48032 10.6626 3.05149 11.3683 3.05149Z" fill="black" fill-opacity="0.38" /> <path d="M14.4778 10.2421L12.6474 5.22042L12.6368 5.16877C12.6368 5.09547 12.6985 5.03609 12.7753 5.03609C12.8407 5.03609 12.8955 5.0797 12.9101 5.13784L14.1544 8.38644C14.2371 8.57231 14.5772 8.69571 14.8009 8.69571C15.0998 8.69571 15.1308 8.10964 15.1243 8.07716L13.8799 4.95135C13.7718 4.23353 13.0457 3.59272 12.2171 3.59272H10.5955C9.76685 3.59272 8.98717 4.23353 8.87875 4.95135L7.69017 8.11582C7.66322 8.17737 7.69017 8.71519 8.01357 8.71519C8.26479 8.71519 8.59903 8.61808 8.65974 8.39633L9.86009 5.12918C9.8793 5.07784 9.93103 5.03888 9.99081 5.03888C10.067 5.03888 10.1287 5.09702 10.1287 5.17001L10.1203 5.21671L8.33666 10.2427C8.33294 10.2575 8.33666 10.6138 8.33666 10.629C8.33666 10.736 8.59562 11.0156 8.70776 11.0156H9.85823V14.9108C9.85823 15.2325 10.142 15.5 10.4778 15.5C10.8136 15.5 11.0973 15.2322 11.0973 14.9108V10.8578C11.0973 10.7703 11.7168 10.7731 11.7168 10.8606V14.8811C11.7168 15.2028 12.0009 15.4997 12.3364 15.4997C12.6728 15.4997 12.9559 15.2025 12.9559 14.8811V11.0152H14.1544C14.2665 11.0152 14.4778 10.7357 14.4778 10.6287C14.4778 10.6039 14.4868 10.2634 14.4778 10.2421Z" fill="black" fill-opacity="0.38" /> </svg>');
}

.water {
    transform: translateY(2px);
}

.water::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.5578 4.25085C10.4593 4.24264 10.3601 4.25401 10.266 4.2843C10.1719 4.31459 10.0847 4.36319 10.0095 4.42732C9.93423 4.49144 9.8724 4.56982 9.82755 4.65794C9.78271 4.74607 9.75572 4.8422 9.74815 4.94079L9.48578 8.35303C9.13915 8.24568 8.82821 8.04608 8.58623 7.77558C8.51588 7.69578 8.42937 7.63187 8.33243 7.58809C8.23549 7.54432 8.13036 7.52168 8.024 7.52168C7.91765 7.52168 7.81251 7.54432 7.71558 7.58809C7.61864 7.63187 7.53213 7.69578 7.46178 7.77558C7.27573 7.97785 7.04975 8.1393 6.79814 8.24974C6.54654 8.36018 6.27476 8.4172 6 8.4172C5.72524 8.4172 5.45346 8.36018 5.20185 8.24974C4.95025 8.1393 4.72427 7.97785 4.53822 7.77558C4.46787 7.69578 4.38136 7.63187 4.28442 7.58809C4.18749 7.54432 4.08235 7.52168 3.976 7.52168C3.86964 7.52168 3.7645 7.54432 3.66757 7.58809C3.57063 7.63187 3.48412 7.69578 3.41377 7.77558C3.17106 8.04522 2.86037 8.24466 2.51422 8.35303L2.25184 4.94079C2.24428 4.8422 2.21729 4.74607 2.17244 4.65794C2.1276 4.56982 2.06577 4.49144 1.99052 4.42732C1.91528 4.36319 1.8281 4.31459 1.734 4.2843C1.6399 4.25401 1.54075 4.24264 1.44224 4.25085C1.34369 4.25842 1.2476 4.28541 1.15951 4.33028C1.07143 4.37514 0.993078 4.437 0.92898 4.51227C0.864881 4.58755 0.816297 4.67477 0.786023 4.7689C0.75575 4.86304 0.744385 4.96224 0.752583 5.06078L1.39727 13.4226C1.44079 13.989 1.69681 14.5178 2.11393 14.9031C2.53106 15.2884 3.07842 15.5017 3.64616 15.5H8.36883C8.93657 15.5017 9.48393 15.2884 9.90106 14.9031C10.3182 14.5178 10.5742 13.989 10.6177 13.4226L11.2474 5.06078C11.2556 4.96224 11.2443 4.86304 11.214 4.7689C11.1837 4.67477 11.1351 4.58755 11.071 4.51227C11.0069 4.437 10.9286 4.37514 10.8405 4.33028C10.7524 4.28541 10.6563 4.25842 10.5578 4.25085ZM9.10347 13.3102C9.08836 13.4985 9.00277 13.6742 8.86379 13.8021C8.72481 13.93 8.54269 14.0007 8.35384 14.0001H3.63866C3.44981 14.0007 3.2677 13.93 3.12872 13.8021C2.98974 13.6742 2.90414 13.4985 2.88903 13.3102L2.62666 9.87542C3.11268 9.7738 3.57221 9.57203 3.976 9.28296C4.56722 9.70343 5.27461 9.92934 6 9.92934C6.72539 9.92934 7.43278 9.70343 8.024 9.28296C8.42779 9.57203 8.88732 9.7738 9.37334 9.87542L9.10347 13.3102ZM6 6.50067C6.64554 6.4987 7.26407 6.24127 7.72054 5.78462C8.17701 5.32796 8.43432 4.70917 8.4363 4.06336C8.4363 2.00102 6.50225 0.681117 6.41979 0.628621C6.29583 0.544795 6.14963 0.5 6 0.5C5.85037 0.5 5.70417 0.544795 5.58021 0.628621C5.49775 0.688616 3.5637 2.00102 3.5637 4.06336C3.56568 4.70917 3.82299 5.32796 4.27946 5.78462C4.73593 6.24127 5.35446 6.4987 6 6.50067ZM6 2.226C6.54246 2.69076 6.87928 3.3512 6.93704 4.06336C6.93704 4.31198 6.83832 4.55042 6.66259 4.72622C6.48686 4.90202 6.24852 5.00079 6 5.00079C5.75148 5.00079 5.51314 4.90202 5.33741 4.72622C5.16168 4.55042 5.06296 4.31198 5.06296 4.06336C5.12465 3.35232 5.46075 2.69328 6 2.226Z" fill="black" fill-opacity="0.38" /> </svg>');
}

.vendingMachine {
    transform: translateY(2px);
}

.vendingMachine::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.75 0.5V15.5H11.25V0.5H0.75ZM1.35577 1.09471H8.42308V12.2621H1.35577V1.09471ZM8.96154 1.62335H10.6442V3.80396H8.96154V1.62335ZM9.56731 2.21806V3.20925H10.0385V2.21806H9.56731ZM2.73558 2.44934V3.20925H2.19712V3.80396H7.58173V3.20925H5.42789V2.18502L4.88942 2.38326L4.6875 3.20925H3.8125V2.44934H2.73558ZM9.26442 4.26652H10.3413V4.86123H9.26442V4.26652ZM6.23558 4.62335C6.05385 4.62335 5.89567 4.72247 5.80481 4.84471C5.70721 5.00661 5.65337 5.16189 5.66683 5.32379H2.19712V5.9185H7.58173V5.32379H6.80433C6.81442 5.15529 6.75048 4.96035 6.66635 4.84471C6.57548 4.72247 6.41731 4.62335 6.23558 4.62335ZM9.26442 5.32379H10.3413V5.9185H9.26442V5.32379ZM2.73558 6.67841V7.43833H2.19712V8.03304H7.58173V7.43833H6.77404V6.67841H5.96635V7.43833H4.88942V6.4141H4.35096V7.43833H3.27404V6.94273L2.73558 6.67841ZM3.00481 8.70705C2.79952 8.70705 2.64135 8.8359 2.55721 8.97137C2.44952 9.17291 2.4226 9.35132 2.43942 9.55286H2.19712V10.1476H7.58173V9.55286H5.42789V8.79295H4.35096V9.55286H3.57019C3.59038 9.35463 3.54663 9.12335 3.4524 8.97137C3.36827 8.8359 3.2101 8.70705 3.00481 8.70705ZM9.26442 11.1388H10.3413V11.7335H9.26442V11.1388ZM1.35577 12.8568H8.42308V14.9053H1.35577V12.8568ZM1.96154 13.4515V14.3106H7.81731V13.4515H1.96154Z" fill="black" fill-opacity="0.38" /> </svg>');
}

.basketball {
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.273071 6.9386C0.273071 6.91663 0.27417 6.89465 0.278564 6.87268C0.42688 5.25989 1.14429 3.80969 2.22754 2.72754C3.44812 1.50586 5.13562 0.75 7 0.75C7.07141 0.75 7.14282 0.751099 7.21423 0.753296C7.245 0.75 7.27686 0.751099 7.30872 0.756592C9.05005 0.835693 10.6189 1.57288 11.7725 2.72754C12.9941 3.94922 13.75 5.63672 13.75 7.5C13.75 9.36438 12.9941 11.0519 11.7725 12.2725C11.7142 12.3307 11.656 12.3878 11.5956 12.4427C11.5637 12.4966 11.5176 12.5383 11.4626 12.5625C10.2728 13.6117 8.71057 14.2489 6.9989 14.2489C6.95386 14.2489 6.90881 14.2478 6.86377 14.2478C6.8429 14.25 6.82312 14.2489 6.80334 14.2467C5.01697 14.1962 3.40527 13.4513 2.22644 12.2725C2.12097 12.167 2.0188 12.0571 1.91992 11.9451C1.87927 11.9165 1.84741 11.8781 1.82654 11.8363C0.843262 10.663 0.25 9.15125 0.25 7.5C0.25 7.31104 0.25769 7.12427 0.273071 6.9386ZM0.882812 6.78259C1.46948 7.14844 2.0979 7.44177 2.75049 7.67249C2.72302 6.5376 2.5011 5.25879 2.06165 3.82068C1.42993 4.66553 1.01135 5.67957 0.882812 6.78259ZM2.51099 3.28455C3.07129 5.0127 3.33606 6.52991 3.34265 7.86255C3.87659 8.01746 4.42371 8.13391 4.97302 8.21411C4.94666 7.80762 4.94116 7.40772 4.95544 7.01221C5.02795 4.98743 5.61682 3.10217 6.70227 1.34875C5.12024 1.42456 3.69421 2.09583 2.64502 3.14502C2.59998 3.19116 2.55493 3.2373 2.51099 3.28455ZM7.3977 1.35425C6.24304 3.10547 5.61682 4.99622 5.54431 7.03308C5.53003 7.44507 5.53772 7.86255 5.56848 8.28662C6.06287 8.33606 6.55725 8.35913 7.04285 8.35693C7.27905 8.35584 7.51196 8.34924 7.74377 8.33716C7.69324 7.55164 7.83826 6.74085 8.14587 5.95642C8.63806 4.70508 9.54773 3.51526 10.7332 2.6023C9.79602 1.88709 8.64795 1.43445 7.3977 1.35425ZM11.1946 2.99121C10.0454 3.84705 9.16431 4.97974 8.69629 6.17285C8.42053 6.87708 8.2887 7.59998 8.33374 8.29651C10.397 8.10754 12.1855 7.5011 13.1117 6.73425C12.9392 5.34009 12.2998 4.08984 11.355 3.14612C11.3022 3.09338 11.2484 3.04175 11.1946 2.99121ZM13.1578 7.43189C12.0977 8.1449 10.3662 8.69531 8.41394 8.87988C8.51831 9.36218 8.71497 9.82581 9.01709 10.2521C9.4906 10.9211 10.2245 11.5056 11.2627 11.9451C11.2935 11.9154 11.3242 11.8857 11.355 11.855C12.469 10.741 13.1589 9.20068 13.1589 7.5C13.1578 7.47693 13.1578 7.45496 13.1578 7.43189ZM10.7683 12.3713C9.76196 11.9011 9.03027 11.2892 8.53589 10.5916C8.16895 10.073 7.93494 9.5094 7.81958 8.92383C7.5636 8.93811 7.30432 8.9458 7.04285 8.9469C6.57593 8.9491 6.10132 8.92822 5.62561 8.88428C5.80798 10.3971 6.2738 11.9879 7.02966 13.6578C8.43811 13.6512 9.7345 13.1722 10.7683 12.3713ZM6.37048 13.626C5.63989 11.9495 5.19385 10.3466 5.02576 8.81506C4.45557 8.73706 3.88647 8.6239 3.32837 8.47009C3.25806 9.68958 2.95813 10.7454 2.45825 11.6572C2.51978 11.7242 2.5824 11.7902 2.64612 11.8539C3.62061 12.8295 4.92139 13.4788 6.37048 13.626ZM2.04956 11.1639C2.46045 10.3389 2.70105 9.38855 2.74609 8.29431C2.08582 8.07459 1.44531 7.79443 0.842163 7.44617C0.842163 7.46375 0.842163 7.48132 0.842163 7.5C0.842163 8.87219 1.29041 10.14 2.04956 11.1639Z" fill="#FF7B00" /> </svg>')
}

.poster-switched > div {
    height: 80px;
    position: relative;
}

    .poster-switched > div div.borderLeft {
        transform: translateX(-20px);
        border-left: 2px solid #bcbcbc;
        position: absolute;
        top: 22px;
        bottom: -7px;
    }

    .poster-switched > div.step-progress div.borderLeft {
        border-left: 2px solid #ff7b00;
    }

    .poster-switched > div div.poster-icon {
        position: absolute;
        transform: translate(-27px, 0px);
    }

    .poster-switched > div.active div.circle {
        display: none;
    }

    .poster-switched > div div.circle-checked {
        display: none;
    }

    .poster-switched > div.active div.circle-checked {
        display: block;
    }

    .poster-switched > div svg.step {
        display: none;
    }

.poster-switched > div.active svg.step {
    display: block;
}

    .poster-switched > div.step-progress div.circle-checked {
        display: block;
    }

    .poster-switched > div.step-progress div.circle {
        display: none;
    }

.forb-place {
    display: none;
}

.forbidden .forb-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2E2C2C;
    opacity: 1;
    z-index: 9;
    color: white;
}

.place-pic-desc {
    position: absolute;
    top: 10px;
    background: #ff7b00;
    padding: 3px 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

label.control-label {
    font-size: 18px;
    text-align: right;
    font-weight: 600;
    padding-top: 6px;
}

.form-check{
    padding-top: 7px;
}

input.form-check-input, .form-check-label {
    cursor: pointer;
}

div.control-label {
    font-weight: 600;
    padding-top: 7px;
    opacity: 0.6;
    text-align: left;
}

.pic-marque{
    position: relative;
}

.pic-marque img{
    opacity: 0;
    transition: 1s ease-out;
    position:absolute;
    z-index:2;
    visibility:hidden
}

    .pic-marque img.active {
        opacity: 1;
        z-index: 4;
        visibility: visible;
    }

#dv_basketball {
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #dv_basketball > div > img {
        width: 150px;
        cursor: pointer;
    }

    #dv_basketball > div:nth-child(1) > img, #dv_basketball > div:nth-child(5) > img {
        transform: translateY(50px);
    }

    #dv_basketball > div:nth-child(2) > img, #dv_basketball > div:nth-child(4) > img {
        transform: translateY(25px);
    }

    #dv_basketball > div:nth-child(3) > img {
        width: 200px;
    }

.nav-link > div.user-menu-item {
    font-weight: 600;
}

div.dv-footer h5 {
    color: #989898;
}

div.dv-footer .nav-link {
    color: white;
}

div.dv-contactus {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2c2c;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 90px;
    justify-content: center;
    z-index: 99;
}
