
@media (min-width: 992px) {
    .pad-only {
        display: none !important;
    }

    .phone-only {
        display: none !important;
    }

    div.navbar-header-border {
        border-left: 1.5px solid #E0E0E0;
    }

    ul.navbar-nav li.nav-item {
        width: max-content;
        margin-left: 5px;
        margin-right: 5px;
    }

    .navbar-brand1 {
        transform: translateY(5px);
    }

    .navbar-brand2 {
        transform: translateY(5px);
    }

    #navbarNav {
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        top: 12px;
        right: 233px;
        z-index: 999999;
        transform: translateY(2px);
    }

    #navbarNav.m-r-185 {
        right: 185px;
    }

        #navbarNav > div > ul.navbar-nav > li.nav-item {
            overflow: visible;
            min-width: 90px;
            text-align: center;
        }

            #navbarNav > div > ul.navbar-nav > li.nav-item > a. dropdown-toggle {
                width: 110px;
            }

    #navbarNav > div > ul.navbar-nav > li.nav-item > a.nav-link {
        color: black;
    }

    #navbarNav > div > ul.navbar-nav > li.nav-item:hover > a.nav-link {
        color: #ff7b00;
    }

    #navbarLogin {
        margin-right: 43px;
    }

    #navbarLogin.m-r-0 {
        margin-right: 0px;
    }

    .AboutUs-Text {
        font-size: 28px;
    }

    .AboutUs-Text span{
        font-size: 32px;
    }

    .dv-tag-row {
        width: calc(100% - 75px);
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .pad-only {
        display: initial;
    }

    .phone-only {
        display: initial;
    }

    .web-only {
        display: none !important;
    }

    button.navbar-toggle {
        display: inline;
    }

    div.navbar-header-border ul li:nth-child(2n) {
        border-left: 2px solid black;
    }

    div.navbar-header-border ul li {
        padding-left: 10px;
        padding-right: 10px;
    }

    #navbarNav {
        position: fixed;
        top: 70px;
        z-index: 10;
        background: #424242;
        color: white;
        height: 100dvh;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
    }

        #navbarNav > div {
            width: 200px;
        }

            #navbarNav > div > ul {
                margin-left: 20px;
                flex-direction: column;
            }

                #navbarNav > div > ul.navbar-nav > li.nav-item:hover > a.nav-link {
                    color: #ff7b00;
                }


        #navbarNav .dropdown-menu {
            margin-right: 15px;
        }
        /*
        #navbarNav.show {
            display: flex;
            width: 200px;
            height: 100dvh;
        }

    @keyframes slideLeft {
        0% {
            width: 0px;
        }
        100% {
            width: 200px;
        }
    }*/
        #navbarLogin {
            position: absolute;
            top: 15px;
            right: 0px;
        }

    .navbar-brand1 {
        transform: translate(-44px, 8.5px);
        width: calc(100vw - 133px);
        text-align: center;
    }

    .navbar-brand2 {
        transform: translate(-30px, 8.5px);
        width: calc(100vw - 133px);
        text-align: center;
    }
    .dropdown-menu.show {
        position: relative !important;
        transform: translateX(-3px) !important;
    }

    label.control-label {
        text-align: left;
    }

    .AboutUs-Text {
        font-size: 26px;
    }

        .AboutUs-Text span {
            font-size: 30px;
        }

    #dv_basketball > div:nth-child(1) > img, #dv_basketball > div:nth-child(5) > img {
        display: none;
    }

    #sec_borrow {
        background: #f5f5f5;
    }

    .dv-footer {
        text-align: center;
    }

    .dv-footer ul{
        text-align: center;
    }

    .footer-follow {
        margin: auto;
    }

    div.dv-contactus {
        width: 70px;
        height: 70px;
        font-size: 12px;
    }

    li.phone-t-d-4 {
        transform: translateY(-4px);
    }
}


@media (max-width: 768px) {
    .web-only {
        display: none !important;
    }
    .phone-only {
        display: initial;
    }

    #dv_basketball {
        height: 180px;
    }

    #dv_basketball > div > img {
        width: 96px;
    }

    #dv_basketball > div:nth-child(3) > img {
        width: 120px;
    }

    #dv_basketball > div:nth-child(1) > img, #dv_basketball > div:nth-child(5) > img {
        display: none;
    }
}
